<!-- roocell.com server side control page
 This is slightly different the the picar hosted page because
 it will use socketio for the webcam.
-->

<style>
*
{
	box-sizing: border-box;
}
body
{
	margin: 0px;
	padding: 0px;
	font-family: monospace;
}
.row
{
	display: inline-flex;
	clear: both;
}
.columnLateral
{
  float: left;
  width: 15%;
  min-width: 300px;
}
.columnCetral
{
  float: left;
  min-width: 300px;
}
#joystick
{
	border: 1px solid #FF0000;
}
#map {
	//width: {{webcam_w}};
	//height: {{webcam_h}};
	width:800px;
	height:600px;
}
#webcam {
	overflow: auto;
	width: {{webcam_w}};
	height: {{webcam_h}};
}



		</style>

		<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"> </script>
		<script src="{{ url_for('static', filename='JoyStick/joy.js') }}"></script>

		<script type="text/javascript">
			var map;

			// socket IO client side
      window.onload = function() {
			  var socket = io.connect('https://' + document.domain + ':' + location.port + '/serverupdatelocation');
		    socket.on('server_location_updated', function(json) {
					  console.log("received picar location update");
						console.log(json)
						var locdiv = document.getElementById('location');
					  locdiv.innerHTML = JSON.stringify(json);
						var latlng = new google.maps.LatLng(json.latitude, json.longitude);
						picar_marker.setPosition(latlng);

						// flash coordinates for a second
 						locdiv.style = "background-color: yellow;"
						setTimeout(function() {
										// TODO: a new location may arrive and this timer could kill it
						        locdiv.style="background-color: none;";
						      }, 1000 );

						// have map follow Car
						map.setCenter(latlng);

						// TODO:
						// zoom out map depending on delta between controller and picar
				}); // end socket.on

				if (navigator.geolocation) {
					var iphone_icon = {
							url: "{{ url_for('static', filename='iphone.png') }}", // url  70x125
							scaledSize: new google.maps.Size(35, 67), // scaled size
							origin: new google.maps.Point(0,0), // origin
							anchor: new google.maps.Point(0, 0) // anchor
						};
					var picar_icon = {
							url: "{{ url_for('static', filename='raspi.png') }}", // url   400 x 512
							scaledSize: new google.maps.Size(25, 32), // scaled size
							origin: new google.maps.Point(0,0), // origin
							anchor: new google.maps.Point(0, 0) // anchor
						};
					var picar_marker = new google.maps.Marker({icon: picar_icon, map: map});
					var iphone_marker = new google.maps.Marker({icon: iphone_icon, map: map});


					var watchId = navigator.geolocation.watchPosition(function(position) {
						console.log("received our location");
						console.log(position.coords);
		        if (map)
		        {
		          // offset the iphone position every so slightly so we can see both markers
		          var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
		          map.setCenter(latlng);
		        }
						// update our location
		        iphone_marker.setPosition(latlng);
					}); // end watchPosition

			  } else {
			    document.getElementById('location').innerHTML = "Geolocation is not supported by this browser.";
			  }

			} // window on load

			// get microphone
			// stream to server which will relay to picar
			var audioStream;
			const handleSuccess = function(stream) {
				audioStream = stream;
				const context = new AudioContext();
				const source = context.createMediaStreamSource(stream);
				const processor = context.createScriptProcessor(1024, 1, 1);
				source.connect(processor);
				processor.connect(context.destination);
				processor.onaudioprocess = function(e) {
				// Do something with the data, e.g. convert it to WAV
				//console.log(e.inputBuffer);
				$.getJSON('/webaudio', {'data':JSON.stringify(e.inputBuffer)}, function(data) { });
				};
			};
			function toggleMic(button)
			{
				var str = button.innerHTML;
				if (str.includes("red"))
				{
					button.innerHTML = "<i class=\"material-icons\" style=\"color:black\">mic</i>";
					const tracks = audioStream.getTracks();
				  tracks.forEach(function(track) {
				    track.stop();
				  });				} else {
					// MIC is on
					button.innerHTML = "<i class=\"material-icons\" style=\"color:red\">mic</i>";
					navigator.mediaDevices.getUserMedia({ audio: true, video: false })
					    .then(handleSuccess);
				}
			}

		</script>

		<div class="row">
			<div class="columnLateral">
				  trim :<input type="range" min="-20" max="20" value="0"  id="trim_slider"><input id="trim_output" type="text" size=5 /><br />
					drive:<input type="range" min="1" max="100" value="38"  id="drive_slider"><input id="drive_output" type="text" size=5 /><br />
					revrs:<input type="range" min="1" max="100" value="30"  id="reverse_slider"><input id="reverse_output" type="text" size=5 /><br />
					boost:<input type="range" min="1" max="100" value="75"  id="boost_slider"><input id="boost_output" type="text" size=5 /><br />

					<button id="micButton" style="font-size:24px" onClick="toggleMic(this);"><i class="material-icons" style="color:black">mic</i></button>

				<div id="joy1Div" style="width:200px;height:200px;margin:50px"></div>
				X:<input id="joy1X" type="text" /><br />
				Y:<input id="joy1Y" type="text" />
			</div>

			<!-- location display -->
			<div class="columnCetral">
				<div id=location>
					0.0
				</div>

				<!-- video -->
				<div id="webcam_container" align=center>
		     <img src="/video_feed">
		    </div>
				<div id="map"></div>
			</div>
		</div>

		<script type="text/javascript">

			var trim_slider = document.getElementById("trim_slider");
			var drive_slider = document.getElementById("drive_slider");
			var reverse_slider = document.getElementById("reverse_slider");
			var boost_slider = document.getElementById("boost_slider");
			var trim_output = document.getElementById("trim_output");
			var drive_output = document.getElementById("drive_output");
			var boost_output = document.getElementById("boost_output");
			var reverse_output = document.getElementById("reverse_output");
			trim_output.value = trim_slider.value;
			drive_output.value = drive_slider.value;
			boost_output.value = boost_slider.value;
			reverse_output.value = reverse_slider.value;
			trim_slider.oninput = function() {
			  trim_output.value = this.value;
			}
			drive_slider.oninput = function() {
			  drive_output.value = this.value;
			}
			reverse_slider.oninput = function() {
			  reverse_output.value = this.value;
			}
			boost_slider.oninput = function() {
			  boost_output.value = this.value;
			}

// Create JoyStick object into the DIV 'joy1Div'
var joyparams1 = { "title": "joystick",
          "movementCallback":function (data) {
																		 // adjust trim
																		 data['x'] = Number(data['x']) + Number(trim_slider.value);

																		 console.log(data);
						                         $.getJSON('/movement', data,
																		   function(data) {
																		      // server Response
																			 });
					                          },
					 "neutralCallback":function (data) {
 						                         $.getJSON('/neutral', data, function(data) { });
 					                         },
				};
var Joy1 = new JoyStick('joy1Div', joyparams1);
var joy1X = document.getElementById("joy1X");
var joy1Y = document.getElementById("joy1Y");

setInterval(function(){ joy1X.value=Joy1.GetX(); }, 50);
setInterval(function(){ joy1Y.value=Joy1.GetY(); }, 50);

		</script>



		<script type=text/javascript>
				document.onkeydown = checkKey;
				document.onkeyup = resetKey;

				var k_esc = 27;
				var k_up  = 38;
				var k_dn  = 40;
				var k_left = 37;
				var k_right = 39;
				var b_key = 66; //boost
				var keys = [
				 k_esc,
				 k_up, k_dn, k_left, k_right,
				 b_key
			   ];

				function resetKey(e) {
					switch (e.keyCode)
					{
						case k_up:
						case k_dn:
							// go back to neutral
							Joy1.setPosition(100,100) ;
							$.getJSON('/neutral', {'t':Date.now()}, function(data) { });
							break;
						case b_key:
							// remove boost
							var trim_slider = document.getElementById("trim_slider");
							var drive_slider = document.getElementById("drive_slider");
							var reverse_slider = document.getElementById("reverse_slider");
							var x = Number(Joy1.GetX());
							var y = Number(Joy1.GetY());
							if (y > 0)
							{
								y = Number(drive_slider.value);
							} else {
								y = Number(reverse_slider.value)*(-1);
							}
 						  var data = {'x':Number(x)+Number(trim_slider.value), 'y':y,'t':Date.now()};
							console.log(data);
							$.getJSON('/movement', data, function(data) { });
							Joy1.setPosition(x/2+100, y/2*(-1)+100);
							break;
					}

					// not going to neutral on left/right up
					// so we can tap to adjust steering
					// || e.keyCode == '37' || e.keyCode == '39'
				}
				function checkKey(e) {
					  e = e || window.event;

					 var i = 0;
					 var k_valid = false;

					 for (i=0; i<keys.length; i++)
					 {
						  if (keys[i] == e.keyCode)
							{
								k_valid = true;
								break;
							}
					 }
					 if (k_valid == false) return;

            // stop cursor key from scrolling window
					  e.preventDefault();

						var x = Number(Joy1.GetX());
						var y = Number(Joy1.GetY());

						switch (e.keyCode)
						{
							case k_up:
								// forward reverse is a fixed speed
								// move vertical joystick on screen
								// TODO: gradually set position so it's animated
								var drive_slider = document.getElementById("drive_slider");
								y = Number(drive_slider.value);
								break;
							case b_key:
							  var boost_slider = document.getElementById("boost_slider");
								var direction = 1;
								if (y < 0) direction = -1;
								y = Number(boost_slider.value)*direction;
								break;
							case k_dn:
								var reverse_slider = document.getElementById("reverse_slider");
								y = Number(reverse_slider.value)*(-1);
								break;
						  case k_left:
								x = x - 10;
								if (x < -100) x = -100;
								break;
							case k_right:
								x = x + 10;
								if (x > 100) x = 100;
								break;
							case k_esc:
							  Joy1.setPosition(100, 100);
							  $.getJSON('/neutral', {'x':0, 'y':0,'t':Date.now()}, function(data) { });
								return;
								break;
						}

						// only send if there is a change - otherwise it will generate a lot of
						// events
						var prevx = Joy1.GetX();
						var prevy = Joy1.GetY();

						//console.log("prev " + prevx + " " + prevy + "new " + x + " " + y);

						if (prevx != x || prevy != y)
            {
							var trim_slider = document.getElementById("trim_slider");
							var data = {'x':Number(x)+Number(trim_slider.value), 'y':y,'t':Date.now()};
							console.log(data);
							$.getJSON('/movement', data, function(data) { });
						}
						// not sure why it's div 2 but it is
						Joy1.setPosition(x/2+100, y/2*(-1)+100);
				}
		</script>


		<script type="text/javascript">
		// <map>

		function initMap() {
			console.log("initmap");
			map = new google.maps.Map(document.getElementById('map'), {
				center: {lat: 0, lng: 0},
				zoom: 22,
				mapTypeId: google.maps.MapTypeId.SATELLITE,
				disableDefaultUI: true
			});
		}
    </script>

		<script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap" async defer></script>
