<!-- roocell.com server side control page
 This is slightly different the the picar hosted page because
 it will use socketio for the webcam.
-->

<style>
*
{
	box-sizing: border-box;
}
body
{
	margin: 0px;
	padding: 0px;
	font-family: monospace;
}
.row
{
	display: inline-flex;
	clear: both;
}
.columnLateral
{
  float: left;
  width: 15%;
  min-width: 300px;
}
.columnCetral
{
  float: left;
  min-width: 300px;
}
#joystick
{
	border: 1px solid #FF0000;
}
#map {
	//width: {{webcam_w}};
	//height: {{webcam_h}};
	width:800px;
	height:600px;
}
#webcam {
	overflow: auto;
	width: {{webcam_w}};
	height: {{webcam_h}};
}

		</style>

		<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"> </script>
		<script src="{{ url_for('static', filename='JoyStick/joy.js') }}"></script>

		<script type="text/javascript">
			var map;

			// socket IO client side
      window.onload = function() {
			  // var socket = io.connect('https://' + document.domain + ':' + location.port + '/updatelocation');
		    // socket.on('location updated', function(json) {
				// 	  console.log("received picar location update");
				// 		console.log(json)
				// 		var locdiv = document.getElementById('location');
				// 	  locdiv.innerHTML = JSON.stringify(json);
				// 		var latlng = new google.maps.LatLng(json.latitude, json.longitude);
				// 		picar_marker.setPosition(latlng);
				//
				// 		// flash coordinates for a second
 				// 		locdiv.style = "background-color: yellow;"
				// 		setTimeout(function() {
				// 						// TODO: a new location may arrive and this timer could kill it
				// 		        locdiv.style="background-color: none;";
				// 		      }, 1000 );
				//
				// 		// have map follow Car
				// 		map.setCenter(latlng);
				//
				// 		// TODO:
				// 		// zoom out map depending on delta between controller and picar
				//
				//
				// }); // end socket.on

				if (navigator.geolocation) {
					var iphone_icon = {
							url: "{{ url_for('static', filename='iphone.png') }}", // url  70x125
							scaledSize: new google.maps.Size(35, 67), // scaled size
							origin: new google.maps.Point(0,0), // origin
							anchor: new google.maps.Point(0, 0) // anchor
						};
					var picar_icon = {
							url: "{{ url_for('static', filename='raspi.png') }}", // url   400 x 512
							scaledSize: new google.maps.Size(25, 32), // scaled size
							origin: new google.maps.Point(0,0), // origin
							anchor: new google.maps.Point(0, 0) // anchor
						};
					var picar_marker = new google.maps.Marker({icon: picar_icon, map: map});
					var iphone_marker = new google.maps.Marker({icon: iphone_icon, map: map});


					var watchId = navigator.geolocation.watchPosition(function(position) {
						console.log("received our location");
						console.log(position.coords);
		        if (map)
		        {
		          // offset the iphone position every so slightly so we can see both markers
		          var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
		          map.setCenter(latlng);
		        }
						// update our location
		        iphone_marker.setPosition(latlng);
					}); // end watchPosition

			  } else {
			    document.getElementById('location').innerHTML = "Geolocation is not supported by this browser.";
			  }

			} // window on load

		</script>

		<div class="row">
			<div class="columnLateral">
				<div id="joy1Div" style="width:200px;height:200px;margin:50px"></div>
				Posizione X:<input id="joy1PosizioneX" type="text" /><br />
				Posizione Y:<input id="joy1PosizioneY" type="text" /><br />
				Direzione:<input id="joy1Direzione" type="text" /><br />
				X :<input id="joy1X" type="text" /><br />
				Y :<input id="joy1Y" type="text" />
			</div>

			<!-- location display -->
			<div class="columnCetral">
				<div id=location>
					0.0
				</div>

				<!-- video -->
				<div id="webcam_container" align=center>
		     <img src="https://www.roocell.com:5000/video_feed" width=320 height=240>
		    </div>
				<div id="map"></div>
			</div>
		</div>

		<script type="text/javascript">

// Create JoyStick object into the DIV 'joy1Div'
var joyparams1 = { "title": "joystick",
          "movementCallback":function () {
																		var joy1X = document.getElementById("joy1X");
																		var joy1Y = document.getElementById("joy1Y");
																		//console.log("movement x " + joy1X.value + " y " + joy1Y.value);
						                         $.getJSON('/movement', {'x':joy1X.value, 'y':joy1Y.value},
																		   function(data) {
																		      // server Response
																			 });
					                          },
					 "neutralCallback":function () {
 						                         $.getJSON('/neutral', { }, function(data) { });
 					                         },
				};
var Joy1 = new JoyStick('joy1Div', joyparams1);

var joy1IinputPosX = document.getElementById("joy1PosizioneX");
var joy1InputPosY = document.getElementById("joy1PosizioneY");
var joy1Direzione = document.getElementById("joy1Direzione");
var joy1X = document.getElementById("joy1X");
var joy1Y = document.getElementById("joy1Y");

setInterval(function(){ joy1IinputPosX.value=Joy1.GetPosX(); }, 50);
setInterval(function(){ joy1InputPosY.value=Joy1.GetPosY(); }, 50);
setInterval(function(){ joy1Direzione.value=Joy1.GetDir(); }, 50);
setInterval(function(){ joy1X.value=Joy1.GetX(); }, 50);
setInterval(function(){ joy1Y.value=Joy1.GetY(); }, 50);

		</script>



		<script type=text/javascript>
				document.onkeydown = checkKey;
				document.onkeyup = resetKey;


				function resetKey(e) {
					if (e.keyCode == '38' || e.keyCode == '40') {
					  // go back to neutral
					  Joy1.setPosition(100,100) ;
						$.getJSON('/neutral', { }, function(data) { });
				  }
					if (e.keyCode == '37' || e.keyCode == '39') {
					  // go back to neutral
					  Joy2.setPosition(100,100) ;
						$.getJSON('/steeringOff', { }, function(data) { });
				  }
				}
				function checkKey(e) {
						e = e || window.event;

            // stop cursor key from scrolling window
					  e.preventDefault();

						if (e.keyCode == '38') {
								// up arrow
								//alert('move forward');
								$.getJSON('/moveForward', { }, function(data) { });

								// move vertical joystick on screen
								// TODO: gradually set position so it's animated
								Joy1.setPosition(0,-200);
						} else if (e.keyCode == '40') {
								// down arrow
								$.getJSON('/moveBackward', { }, function(data) { });
								Joy1.setPosition(0,200);
						} else if (e.keyCode == '37') {
							 // left arrow
								$.getJSON('/moveLeft', { }, function(data) { });
								Joy2.setPosition(-200,0);
						} else if (e.keyCode == '39') {
								// right arrow
								$.getJSON('/moveRight', { }, function(data) { });
								Joy2.setPosition(200,0);
						}
				}
		</script>


		<script type="text/javascript">
		// <map>

		function initMap() {
			console.log("initmap");
			map = new google.maps.Map(document.getElementById('map'), {
				center: {lat: 0, lng: 0},
				zoom: 22,
				mapTypeId: google.maps.MapTypeId.SATELLITE,
				disableDefaultUI: true
			});
		}
    </script>

		<script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap" async defer></script>
