<!DOCTYPE html>
<html>
<body>

<p id="location"></p>

<script>
var x = document.getElementById("location");

// position isn't the right kind of object to be used by JSON.stringify
function cloneAsObject(obj) {
    if (obj === null || !(obj instanceof Object)) {
        return obj;
    }
    var temp = (obj instanceof Array) ? [] : {};
    // ReSharper disable once MissingHasOwnPropertyInForeach
    for (var key in obj) {
        temp[key] = cloneAsObject(obj[key]);
    }
    return temp;
}

window.onload = function() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);

			var watchId = navigator.geolocation.watchPosition(function(position) {
				console.log(position.coords);
				document.getElementById('location').innerHTML = JSON.stringify(cloneAsObject(position.coords));
			});

  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude +
  "<br>Longitude: " + position.coords.longitude;
}



</script>

</body>
</html>
