<!DOCTYPE html>
<!-- the intention of this page is for an iphone to open it and provide
  location updates to the raspi flask server. this is just a hack to
  give the picar a GPS location by throwing a phone in there too.  -->
<html>
<head>
  <title>Location Updater</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/jquery.min.js"> </script>
<script type="text/javascript" src="/static/NoSleep.js"> </script>
<script  type="text/javascript">

// position isn't the right kind of object to be used by JSON.stringify
function cloneAsObject(obj) {
    if (obj === null || !(obj instanceof Object)) {
        return obj;
    }
    var temp = (obj instanceof Array) ? [] : {};
    // ReSharper disable once MissingHasOwnPropertyInForeach
    for (var key in obj) {
        temp[key] = cloneAsObject(obj[key]);
    }
    return temp;
}

var map;
//var picar_marker = new google.maps.Marker({position: latlng, icon:icon, map: map});

window.onload = function() {
  if (navigator.geolocation) {

    // send location back to server over the socket
    var socket = io.connect('https://' + document.domain + ':' + location.port + '/updatelocation');

    // callback for when server emits "location update"
    socket.on('location_updated', function(msg) {
      console.log("received location updated event from flask")
      console.log(msg); // Print the greeting as text
      var latlng = new google.maps.LatLng(msg.latitude,msg.longitude);
      picar_marker.setPosition(latlng)
      document.getElementById('location').innerHTML = JSON.stringify(msg);

    });


    var iphone_icon = {
        url: "/static/iphone.png", // url  70x125
        scaledSize: new google.maps.Size(35, 67), // scaled size
        origin: new google.maps.Point(0,0), // origin
        anchor: new google.maps.Point(0, 0) // anchor
      };
    var picar_icon = {
        url: "/static/raspi.png", // url   400 x 512
        scaledSize: new google.maps.Size(25, 32), // scaled size
        origin: new google.maps.Point(0,0), // origin
        anchor: new google.maps.Point(0, 0) // anchor
      };
    var picar_marker = new google.maps.Marker({icon: picar_icon, map: map});
    var iphone_marker = new google.maps.Marker({icon: iphone_icon, map: map});

			var watchId = navigator.geolocation.watchPosition(function(position) {
				console.log(position.coords);
        if (map)
        {
          // offset the iphone position every so slightly so we can see both markers
          offset = 0.005;
          var latlng = new google.maps.LatLng(position.coords.latitude+offset, position.coords.longitude);
          map.setCenter(latlng);
        }
        iphone_marker.setPosition(latlng);

        // send location to server
        console.log("sending update_location")
        socket.emit('update_location', {data: JSON.stringify(cloneAsObject(position.coords))},
                      function(resp) {
                        console.log("server resp: " + resp);
                      });

    });

  } else {
    document.getElementById('location').innerHTML = "Geolocation is not supported by this browser.";
  }
}

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 0, lng: 0},
      zoom: 14
    });
  }


</script>


<body>

<p id="location"></p>
<input type="button" id="toggle" value="Wake Lock is disabled" />
<div id="map"></div>

<script>
    // prevent iphone from going to sleep
    var noSleep = new NoSleep();

    var wakeLockEnabled = false;
    var toggle = document.getElementById("toggle");
    toggle.addEventListener('click', function() {
      if (!wakeLockEnabled) {
        noSleep.enable(); // keep the screen on!
        wakeLockEnabled = true;
        toggle.value = "Wake Lock is enabled";
        document.body.style.backgroundColor = "green";
      } else {
        noSleep.disable(); // let the screen turn off.
        wakeLockEnabled = false;
        toggle.value = "Wake Lock is disabled";
        document.body.style.backgroundColor = "";
      }
    }, false);
  </script>


<script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap" async defer></script>

</body>
</html>
